/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root {
  --first-color: #4871fb;
  --second-color: #081338;
  --third-color: #0d1111;
  --fourth-color: #fff;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

.whiteColor {
  color: #fff;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.bg-sc {
  background-color: var(--first-color);
}

/*===== LAYOUT =====*/
.bd-grid-as {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header-as {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--second-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.bd-grid-ams {
    display: grid;
    grid-column-gap: 2rem;
    row-gap: 1rem;
    grid-template-columns: 100%;
    align-items: center;
    text-align: center;
}

/*===== NAV =====*/
.nav-as {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav__menu-as {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}

.nav__item-as {
  margin-bottom: var(--mb-4);
}

.nav__link-as {
  position: relative;
  color: #fff;
}

.nav__link-as:hover {
  position: relative;
  color: var(--first-color);
  text-decoration: none;
}

.nav__link-as:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo-as {
  color: var(--fourth-color);
}

.nav__toggle-as {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active-as::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show-as {
  right: 0;
}

.home__social-icon-as {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--fourth-color);
}
.home__social-icon-as:hover {
  color: var(--first-color);
}

/*BUTTONS*/
.button-as {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}
.button-as:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.button-demo-as {
  text-align: center;
  display: inline-block;
  background-color: #358839;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}

.button-demo-as:hover {
  text-decoration: none;
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
  color: #fff;
  transform: translateY(-5px);
  cursor: pointer;
}

/* ===== HOME =======*/
.home_section {
    background-color: var(--second-color);
}

.container_svg-ams {
    padding: 3.6rem 2rem 10px 0;
}

/* ===== FOOTER =====*/
.footer-as {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title-as {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social-as {
  margin-bottom: var(--mb-4);
}
.footer__icon-as {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  
  .bd-grid-ams {
    grid-template-columns: repeat(2,1fr);
 }

  .nav-as {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list-as {
    display: flex;
    padding-top: 0;
  }
  .nav__item-as {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle-as {
    display: none;
  }
  .nav__link-as {
    color: var(--fourth-color);
  }

  .home__social-icon-as {
    margin-bottom: 0;
    margin-right: var(--mb-4);
    color: var(--fourth-color);
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid-as {
    margin-left: auto;
    margin-right: auto;
  }

}


/* ============ ANIMATION ===============*/
.line {
    fill: none;
    stroke: #4D62DA;
    stroke-miterlimit: 10;
    stroke-width: 0.5;
    animation: line-pulse 5s ease infinite;
    -moz-animation: line-pulse 5s ease infinite;
    /* Firefox */
    -webkit-animation: line-pulse 5s ease infinite;
    /* Safari and Chrome */
    -o-animation: line-pulse 5s ease infinite;
    /* Opera */
  }
  
  .circle {
    fill: transparent;
    transition: fill 300ms ease;
  }
  
  .blue-bg {
    fill: #4D62DA;
    animation: circle-pulse 10s linear infinite;
    -moz-animation: circle-pulse 10s linear infinite;
    /* Firefox */
    -webkit-animation: circle-pulse 10s linear infinite;
    /* Safari and Chrome */
    -o-animation: circle-pulse 10s linear infinite;
    /* Opera */
    -webkit-animation-delay: 3s;
    /* Chrome, Safari, Opera */
    animation-delay: 3s;
  }
  
  @keyframes circle-pulse {
    0%, 100% {
      fill: #4D62DA;
    }
    50% {
      fill: #4B4376;
    }
  }
  @keyframes line-pulse {
    0%, 100% {
      stroke: #4D62DA;
    }
    50% {
      stroke: #4B4376;
    }
  }
  @keyframes svg-pulse {
    0%, 100% {
      stroke: #4D62DA;
    }
    50% {
      stroke: #4B4376;
    }
  }